* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e8e8;
}

.profile {
  width: 30px;
  height: 30px;
}

.post-image {
  width: 100%;
  height: 300px;
}

.post-image img {
  height: 100%;
  object-fit: cover;
}

#auth-alert {
  position: fixed;
  z-index: 9999999999999999999999999;
  width: fit-content;
  bottom: 3px;
  right: 3px;
}

#add-post {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 70px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 100;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

#nav-user-image {
  width: 40px;
  height: 40px;
}

.user-image {
  width: 40px;
  height: 40px;
}

.post-comments {
  background-color: #e6f0f9;
}

.add-comment > input {
  flex: 1;
  border: 1px solid #ddd;
  padding: 7px 10px;
}
.add-comment > input:focus {
  border: none;
  outline: none;
}

.add-comment > button {
  width: 70px;
}

#user-profile-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.user-info {
  font-weight: bold;
}

.number-info > span {
  font-size: 60px;
  color: #000000;
}

/* Loader */
#loader-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 33333333;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #dddddd48;
  border-radius: 6px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
